header{
    background-color: #FDF1EB;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 97%;
    height: 7%; 
    padding: 10px 15px 0px;
    border-radius: 4px 4px;
}

#painel {
    border: 3px solid #FDF1EB;
    margin: 0;
    padding: 15px;
    text-align: justify;
    max-width: 97%;
    border-radius: 0px 0px 4px 4px;
}

#verMais{
    color: #ED7839;
    font-weight: bold;
}