header{
    background-color: #FDF1EB;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 97%;
    height: 7%; 
}

#painel{
    border: 3px solid #FDF1EB;
    margin: 0;
    padding: 0;
    max-height: 60vh;
    max-height: 30vh;
    max-width: 97%;
}