<body>
    <div id="menuLateral">
        <div id="nome">
            <h2 class="mt-5">SLACA 2019</h2>
        </div>

        <img id="logoImg" src="assets/images/logoImg.png">
        
        <div id="lista">
            <ul class="list-group" >
                <li class="list-group-item">Apresentação</li>
                <li class="list-group-item">Comitês</li>
                <li class="list-group-item">Autores</li>
                <li class="list-group-item">Eixos temáticos</li>
                <li class="list-group-item active"><p>Trabalhos</p></li>
                <li class="list-group-item">Contato</li>
            </ul>
        </div>
    </div>

    <div id="header">
        <div id="headerEsq">
            <p>Anais do Simpósio Latino Americano de Ciências de Alimentos </p>
            <h2>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </h2>
            <p>ISSN: 1234-5678</p>
        </div>
        
        <div id="headerDir">
            <img id="botaoIdioma" src="assets/images/botaoIdioma.png">
            <div id="DirText">
                <p>Bem vindo!</p>
                <p>alguem12@galoascience.com</p>
            </div>
            <img id="logoProfileImg" src="assets/images/headerProfileImg.png">
        </div>
    </div>

    <div id="conteudoPrincipal">
        <div id="tituloEImagem">
            <h2>
                Análise sensorial de preparações funcionais desenvolvidas para
                    escolares entre 09 e 15 anos, do município de Campinas/SP 
            </h2>
            <img src="assets/images/videoApresentacao.png">
        </div>

        <div id="painelLateral">
            <div id="listaDeBotoes">
                <button type="button" class="btn btn-primary">
                    <img id="downloadIcon" src="assets/images/downloadIcon.png"> Primary
                </button>

                <button type="button" class="btn btn-primary">
                    <img id="downloadIcon" src="assets/images/favIcon.png">
                </button>

                <button type="button" class="btn btn-primary">
                    <img id="downloadIcon" src="assets/images/doiIcon.png">
                </button>  
            </div>
                
            <p>COMO CITAR ESSE TRABALHO?</p>

            <app-painel-detalhes></app-painel-detalhes>
            </div>    
        </div>

        <div class="mt-5" id="painelResumo">
            <app-resumo></app-resumo>
        </div>



        <!-- <footer>
            <img>
            <div>
                <p><strong>Preservar a memória do evento e ampliar o acesso ao conhecimento científico</strong></p>
            </div>
        </footer> -->
</body>