*{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

h2{
  font-size: 25px;
}

body{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#menuLateral{
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 15%;
  box-shadow: 7px 0px 5px lightgray;
}

#downloadIcon{
  width: 1vw;
  height: auto;
}

#listaDeBotoes{
  display: flex;
  align-items: end;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

#listaDeBotoes p{
  color: #ED7839;
}

#lista{
  height: auto;
}

#logoImg{
  width: 100%;
  height: auto;
}

#nome{
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  text-align: center;
  height: 11vh;
  background: rgb(238,122,58); 
  background: linear-gradient(0deg, rgba(238,122,58,1) 41%, rgba(238,176,69,1) 100%);
}

#selecionado{
  background-color: #FDF1EB;
}

#conteudoPrincipal{
  margin-left: 18%;
  margin-top: 3vh;
  max-width: 82%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#header{
  margin: 0;
  display: flex;
  background-color: #FDF1EB;
  padding-left: 18%;
  justify-content: space-between;
}

#botaoIdioma{
  width: 25%;
  height: auto;
  align-self: center;
}

#headerDir{
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-right: 3%;
  justify-content: space-between;
  width: 90vw;
}

#DirText{
  text-align: end;
}

#logoProfileImg{
  margin-left: 2%;
  width: 12%;
  height: 12%;
}

#tituloEImagem{
  max-width: 48vw;
}

#tituloEImagem h2{
  color: #ED7839;
  margin-bottom: 3vh;
  font-size: 25px;
}

#painelDetalhes header{
  background-color: #FDF1EB;
}

#conteudoInterno1{
  display: flex;
  flex-direction: row;
}

#painelLateral{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-right: 3%;
  text-align: end;
  color: #ED7839;
}

#headerEsq{
  width: 200vw;
}

.list-group-item{
  color: #725C5C;
  display: flex;
  justify-content: flex-start;
  position: relative;
  border: none;
}

.active{
  color: #725C5C;
  background-color: #FDF1EB;
}

.btn-primary{
  background-color: #ED7839;
  border: none;
}

#painelResumo{
  margin-left: 18%;
  max-width: 82%;
}