<body>
    <div id="menuLateral">

        <div id="nome">
            <h2>SLACA 2019</h2>
        </div>

        <div id="logo">
            <h1>Imagine uma imagem</h1>
        </div>

        <ul id="lista">
            <li>Apresentação</li>
            <li>Comitês</li>
            <li>Autores</li>
            <li>Eixos temáticos</li>
            <li id="selecionado">Trabalhos</li>
            <li>Contato</li>
        </ul>

    </div>

    <div id="conteudoPrincipal">

        <div id="header">
            <ul id="teste">
                <li>Texto 1</li>
                <li>Idioma</li>
                <ul>    
                    <li>Bem vindo!</li>
                    <li>nomeUsuario</li>
                </ul>
                <li>Foto</li>
            </ul>
        </div>

        <div id="conteudoInterno1">

            <div id="tituloEImagem">
                <h2>
                    Análise sensorial de preparações funcionais desenvolvidas para
                     escolares entre 09 e 15 anos, do município de Campinas/SP 
                </h2>
                <img src="assets/images/videoApresentacao.png">
            </div>

            <div id="descricao">
                <ul>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
                <h3>COMO CITAR ESSE TRABALHO?</h3>

                <div id="painelDetalhes">
                    <header>Detalhes</header>
                </div>

            </div>
        </div>

        <footer>
            <img>
            <div>
                <p><strong>Preservar a memória do evento e ampliar o acesso ao conhecimento científico</strong></p>
            </div>
        </footer>

    </div>
</body>